services:
  web:
    build:
      context: .
      target: runner
      args:
        NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN: ${NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN}
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: 1
      PORT: 3000
      SPOTIFY_REFRESH_TOKEN: ${SPOTIFY_REFRESH_TOKEN}
    restart: unless-stopped
